<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
           id="hu.dpal.phonegap.plugins.NumericKeyboard"
      version="0.0.1">

    <name>NumericKeyboard</name>
    
	<description>
			PhoneGap / Cordova numeric keyboard (numpad) plugin for Android.
	</description>
	<license>MIT</license>
	<keywords>phonegap,cordova,android,numpad,numeric,keyboard</keywords>

	<js-module src="www/numpad.js" name="NumericKeyboard">
	  <merges target="window.plugins.numericKeyboard" />
	</js-module>
	
	<!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="NumericKeyboard">
                <param name="android-package" value="hu.dpal.phonegap.plugins.NumericKeyboard"/>
            </feature>
        </config-file>
        
        <source-file src="src/android/NumericKeyboard.java" target-dir="src/hu/dpal/phonegap/plugins" />
        <source-file src="src/android/numpad.xml" target-dir="res/layout" />
        
    </platform>
	
</plugin>

